[bot]
token = 123456:AbcdXyZ

# Bot's language to use in messages (without quotes). Currently "en" and "ru" are built-in
language = en

[groups]
# This is your "main" group where bot should operate as admin
main = -1001234567

# This is a special group for admins. Report messages will be sent here and everyone can choose any action!
reports = -1007654321
