# Your bot's token, get it from @BotFather
BOT_TOKEN=123456:AbcdXyZ

# Bot's language to use in messages (without quotes). Currently "en" and "ru" are built-in
BOT_LANGUAGE=en

# This is your "main" group where bot should operate as admin
GROUP_MAIN = -1001234567

# This is a special group for admins. Report messages will be sent here and everyone can choose any action!
GROUP_REPORTS = -1007654321