# Note: rename this file to .env (with leading dot)

# This is your bot's token. Go to https://t.me/botfather to register your own bot. It's free!
BOT_TOKEN=12345:AaBbCcDdEeFfGgHhIiJjKk

# Bot's messages language. Currently available: en, ru
LANG=en

# Where to send reports. Available options: group, private
REPORT_MODE=group

# [required] ID of bot's main group, where messages are checked
GROUP_MAIN=-100123456789

# [optional] If REPORT_MODE is group, then this must be an ID of separate chat for admins
GROUP_REPORTS=-100987654321

# Automatically remove "<user> joined the group" service messages. Available options: yes, no
REMOVE_JOINS=yes

# Automatically ban channels which are used to post messages to the group. Available options: yes, no
# More about this feature: https://telegram.org/blog/protected-content-delete-by-date-and-more#anonymous-posting-in-public-groups
BAN_CHANNELS=no