[Unit]
Description=Reportbot for Telegram
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/user/reportbot
ExecStart=/home/user/reportbot/bot.py
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
